{extend name="common/base" }

{block name="admin-content"}
<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form ajax-form" method="post" action="{:url('saveAccount')}">
		
			{:block('text', ['title' => '账号昵称', 'name' => 'user_nick', 'value' => $site_user['user_nick']])}
			
			{:block('text', ['title' => '新的密码', 'type' => 'password','name' => 'user_passwd', 'tip' => '不修改密码请留空'])}
			
			{:block('text', ['title' => '新的密码', 'type' => 'password','name' => 're_passwd'])}
			
			{:block('submit', ['title' => '用户操作'])}
			
		</form>
	</div>
</div>
{/block}